@charset "UTF-8";

:root {
    --rosa: #C71585;
    --rosa-claro: #FF69B4;
    --roxo: #4B0082;
    --roxo-claro: #9932CC;
    --ciano: #00E5FF;
}

/* Barra de rolagem */
::-webkit-scrollbar {
    width: 10px;
}

/* Fundo da barra */
::-webkit-scrollbar-track {
    background: #0a0a0a;
}

/* Parte que desliza */
::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #FF69B4, #C71585, #4B0082);
    border-radius: 10px;
    box-shadow: 0 0 10px #FF69B4;
}

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html{
    width: 100%;
    min-height: 100%;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: black;
    overflow-x: hidden;
}

header{
    padding: 20px 0;
} 

main{
    min-height: 70vh;
}

.hamburg,
.cancel{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: white;
    display: none;
    font-size: clamp(2.5rem, 0.5rem + 5vw, 3rem);
}

.logo{
    color: white;
    position: absolute;
    top: 18px;
    left: 15px;
    font-size: 2rem;
    font-weight: bold;
}

.logo span{
    color: #FF69B4;
    text-shadow: 0 0 10px #FE019A;
}

nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container .links a{
    font-size: 1.2rem;
    color: white;
    margin: 0 20px;
    text-decoration: none;
    transition: 0.3s linear;
}

.nav-container .links a:hover{
    color: #FF69B4;
    border-bottom: 2px solid #FE019A;
}

.dropdown{
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: blur(4px) brightness(40%);
    transition: 0.3s linear;
}

.dropdown .links a{
    display: flex;
    color: white;
    text-decoration: none;
    padding: 15px 0;
    justify-content: center;
    align-items: center;
}

.dropdown .links a{
    justify-content: center;
    align-items: center;
    transition: 0.3s linear;
}

.dropdown .links a:hover{
    background-color: #FF69B4;
}

 section{
    width: 100%;
    min-height: 90vh;
    /* scroll-margin-top: 100px; */
 }

.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-container .content{
    color: white;
    width: 40%;
    min-height: 100px;
    box-shadow: 0 0 120px 50px black;
}

.content .typewriter{
    font-size: clamp(1rem, 1rem + 5vw, 2.5rem);
    font-weight: 700;
    margin: 10px 0;
}

.typewriter span{
    color: #00E5FF;
    text-shadow: 0 0 10px #01535c;
}

.content p{
    font-size: clamp(0.8rem, 0.5rem + 3vw, 1.1rem);
    margin: 20px 0; 
}

.content p span{
    color: #FF69B4;
}

.social-links a{
    text-decoration: none;
}

.social-links i{
    color: #FF69B4;
    margin: 0 15px;
    font-size: 1.8rem;
    transition: 0.3s linear;
}

.social-links i:hover{
    filter: drop-shadow(0 0 10px #FF69B4);
    scale: 1.3;
}

.content button{
    width: 50%;
    height: 6vh;
    margin: 30px;
    margin-left: 10px;
    background-color: #FF69B4;
    color: white;
    border: none;
    outline: none;
    font-size: 120%;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.2s linear;
}

.content button:hover{
    scale: 1.1;
    border: 2px solid #FF69B4;
    background-color: transparent;
    font-weight: 700;
    box-shadow: 0 0 40px 5px #FF69B4;
}

.main-container .image{
    width: 500px;
    height: 80vh;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 50px #FF69B4;
}

.main-container .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

h1{
    font-size: clamp(1rem, 1rem + 5vw, 1.8rem);
}

h1 span{
    font-weight: 700;
    text-shadow: 0 0 10px #C71585;
    color: #FF69B4;
}

h3{
    color: #ff1493; 
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;

     text-shadow:
        0 0 2px #ff1493,
        0 0 4px #ff1493,
        0 0 8px rgba(255, 20, 147, 0.6); 
}

 @keyframes glow{
    0%{
        text-shadow:
            0 0 1px #ff4fd8,
            0 0 1px #ff4fd8,
            0 0 2px #ff4fd8;
    }
    100%{
        text-shadow:
            0 0 1px #ff4fd8,
            0 0 2px #ff4fd8,
            0 0 5px #ff1fbf;
    }
} 

h3{
    animation: glow 1.8s infinite alternate;
}

 h4{
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: var(--rosa-claro);
}

.projects p{
    font-size: 1.1rem;
    font-weight: 500;;
    line-height: 1.5;
    margin: 15px 0px;
    color: white;
}

/* HABILIDADES */
.skills {
  color: white;
  font-weight: 600;
  max-width: 900px;
  margin: 60px auto;
  padding: 20px;
}

/* GRID */
.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

/* CARD */
.skills-box {
  background: rgba(255, 105, 180, 0.08);
  border: 1px solid rgba(255, 105, 180, 0.2);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 16px;
  transition: 0.3s ease;
}

/* HOVER SUAVE */
.skills-box:hover {
  transform: translateY(-5px);
  border-color: #FF69B4;
  box-shadow: 0 10px 25px rgba(255, 105, 180, 0.2);
}

/* LISTA */
.skills ul {
  list-style: none;
  padding: 0;
}

.skills li {
  margin: 10px 0;
  padding: 8px 12px;
  border-radius: 8px;
  background: rgba(0, 229, 255, 0.05);
  transition: 0.2s;
}

.skills li:hover {
  background: rgba(0, 229, 255, 0.1);
}

/* DESTAQUE */
strong {
  color: #00E5FF;
}

/* PROJETOS */
.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

/* CARDS */
.projects div{
    background: #111;
    padding: 20px;
    border-radius: 15px;
    transition: 0.3s;
    border: 1px solid #222;
}

.projects div:hover{
    /* transform: translateY(-10px);
    border-color: var(--rosa-claro); */
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 10px 30px rgba(255, 105, 180, 0.2);
}

.projeto-link{
    display: inline-block; 
    margin-top: 10px;
    margin-right: 10px;
    padding: 8px 14px;
    border-radius: 8px;
    background-color: #FF69B4;
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    transition: all 0.3s ease;
    white-space: nowrap;
}

.projeto-link:hover{
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(255, 105, 180, 0.3);
}

.projeto-link:last-child{
    background: transparent;
    border: 1px solid #FF69B4;
    color: #FF69B4;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.568);
}

.footer{
    padding: 30px;
    color: white;
    background-color: #FF69B4;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
}

