@import url('https://fonts.googleapis.com/css2?family=Rye&family=VT323&display=swap');

/* ==========================
   VARIÁVEIS GLOBAIS
========================== */
:root {
    --rosa: #C71585;
    --rosa-claro: #FF69B4;
    --roxo: #4B0082;
    --roxo-claro: #9932CC;
    --ciano: #00E5FF;
}



