/* App.css */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Rye&family=VT323&display=swap');

:root{
    --cor-rosa: #C71585;
    --cor-rosa-c: #FF69B4;
    --cor-roxo: #4B0082;
    --cor-roxo-c: #9932CC;
    --cor-destaque: #00FFFF;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Rye", serif;
    --fonte-segundaria: "VT323", monospace;
}
html{
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5d2e4a7;
}

body::-webkit-scrollbar {
    width: 20px; 
}
   
body::-webkit-scrollbar-track {
    background: var(--cor-rosa); 
}

body::-webkit-scrollbar-thumb {
    background-color: var(--cor-rosa-c); 
    border: 3px solid var(--cor-rosa-c); 
}

section {
    padding: 20px;
    margin: 10px;
}

header, footer {
    background-color: var(--cor-rosa);
    color: white;
    text-align: center;
    padding: 20px;
    background: linear-gradient(to bottom, var(--cor-rosa), var(--cor-roxo));
}

header, footer > p {
    font-size: 1.2em;
}

.about, .skills {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-family: var(--fonte-destaque);
    color: var(--cor-destaque);
    font-size: 2.5em;
    text-shadow: 2px 2px 5px var(--cor-roxo);
}

h2 {
    color: var(--cor-roxo);
    font-weight: 800;
}

.texto > h2 {
    text-align: center;
}

.texto {
    background-color: #9932cc50;
    margin: 5px 50px 5px 50px;
    text-align: justify;
    text-indent: 30px;
    font-weight: 600; 
    font-size: 1.1em; 
    line-height: 1.5em;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: transform 0.3s, box-shadow 0.3s;
}

.texto:hover {
    transform: translateY(-15px);
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.3);
}

.img-pht {
    width: 375px;
    height: 540px;
    object-fit: cover;
    object-position: -40px 20px; 
    margin-top: -13px;
}

.skills-ul >li {
    list-style-type: '\2714\00A0\00A0';
    height: 48px;
    width: 400px;
    padding: 3px 0px;
    font-size: 1.3em;
    font-style: italic;
    font-weight: bold;
    color: #250bbb;
    transition: color 0.3s ease;
    border-left: 5px solid var(--cor-rosa-c); 
    padding: 6px 8px;
    background-color: #9932cc28;
    border-radius: 3px;
}

.skills-ul >li:hover{
    color: var(--cor-rosa-c);

}
.img-cod {
    width: 500px; 
    margin-right: 150px;
}

h3 {
    background-color: var(--cor-roxo-c);
    text-align: center;
    font-size: 1.5em;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 20px 20px 0px 0px;
}

.projects > ul {
    background-color: #af84c4;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.291);  
}

.projects > ul > li { 
    font-size: 12pt;
    font-weight: bold;
    margin: 20px;
    line-height: 1.5em;
    list-style-type: circle;
    list-style-position: inside; 
    transition: transform 0.2s;
}

.projects > ul > li:hover {
    transform: scale(1.05); /* Aumenta o tamanho ao passar o mouse */
    cursor: pointer;
    color: var(--cor-destaque);
    font-weight: bolder;
}

.contact{
    background-color: var(--cor-rosa-c);
    color: rgb(1, 1, 117);
    font-size: 18px; 
    font-weight: bolder;
    border-radius: 15px;  
    display: flex;
    position: center;
    margin: 10px auto;
    padding: 2px 5px; 
    transition: background-color 0.6s; 
}

.contact:hover{
    background-color: var(--cor-destaque);
    color: rgb(188, 8, 98);
}

.contact-p {
    text-decoration: none;
}

.icones{
    padding-right: 30px;
    transform: scale(.8);
}

.figura{
    margin-top: -600px;
}

footer > p {
    text-shadow: 2px 2px 5px var(--cor-roxo);
}

@media (max-width: 768px) {
    body {
        font-size: 0.9em;
    }
    header, footer {
        padding: 15px;
    }
}

