/* App.css */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Rye&family=VT323&display=swap');

:root{
    --cor-rosa: #C71585;
    --cor-rosa-c: #FF69B4;
    --cor-roxo: #4B0082;
    --cor-roxo-c: #9932CC;
    --cor-destaque: #00FFFF;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Rye", serif;
    --fonte-segundaria: "VT323", monospace;
}

body {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5d2e4a7;
}

body::-webkit-scrollbar {
    width: 20px; 
}
   
body::-webkit-scrollbar-track {
    background: var(--cor-rosa); 
}

body::-webkit-scrollbar-thumb {
    background-color: var(--cor-rosa-c); 
    border: 3px solid var(--cor-rosa-c); 
}

header, footer {
    background-color: var(--cor-rosa);
    color: white;
    text-align: center;
    padding: 20px;
}

header, footer > p {
    font-size: 1.2em;
}

.about {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-family: var(--fonte-destaque);
    color: var(--cor-destaque);
    font-size: 2.5em;
}

h2 {
    color: var(--cor-roxo);
}

.texto > h2 {
    text-align: center;
}

.texto > p {
    margin: 5px 50px 5px 50px;
    text-indent: 30px;
    line-height: 1.5em;
    display: inline-block;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.213);
}

.img-pht {
    width: 375px;
    height: 450px;
    object-fit: cover;
    object-position: -40px 20px; 
}

.skills > ul >li {
    list-style-type: '\2714\00A0\00A0';
    padding: 3px 0px;
    font-style: italic;
    font-weight: bold;
    color: #250bbb;
}

.img-cod {
    width: 300px;
    float: right;
}

h3 {
    background-color: var(--cor-roxo-c);
    text-align: center;
    font-size: 1.5em;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 20px 20px 0px 0px;
}

.projects > ul {
    background-color: #af84c4;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.291);
    list-style-type: circle;
    list-style-position: inside;
}

.projects > ul > li {  
    font-size: 12pt;
    margin: 20px;
    line-height: 1.5em;
    transition: transform 0.2s;
    
}

.projects > ul > li:hover {
    transform: scale(1.05); /* Aumenta o tamanho ao passar o mouse */
    cursor: pointer;
    color: var(--cor-destaque);
    font-weight: bolder;
}

section {
    padding: 20px;
    margin: 10px;
}

@media (max-width: 768px) {
    body {
        font-size: 0.9em;
    }
    header, footer {
        padding: 15px;
    }
}

